body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161616;
    overflow-x: hidden;
    min-height: 400px;
  }

  h5 {
    font-size: 16px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

  #lds-spinner {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    padding-top: 140px;
    padding-bottom: 150px;
    margin: auto;
  }

  #lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }

  #lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #DD1D16;
  }

  #lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }

  #lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }

  #lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }

  #lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }

  #lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }

  #lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }

  #lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }

  #lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }

  #lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }

  #lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }

  #lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }

  #lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }

  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .box-news {
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: text-top;
    margin: auto;
    padding-bottom: 20px;
    clear: both;
    border-spacing: 14px;
  }

  .iteam-newsz {
    display: table-cell;
    max-width: 300px;
    min-width: 300px;
    white-space: normal;
    text-align: center;
  }
.wallhr{
  width:60%;
  max-width:700px;
  border-width:4px; 
  border-color:#4d4d4d;
  margin-bottom:40px;
  margin-top:40px;
}
  .box {
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: text-top;
    margin: auto;
    padding-bottom: 10px;
    clear: both;
    border-spacing: 14px;
  }

  .iteam {
    display: table-cell;
    min-width: 310px;
    width: 320px;
    font-size: 140px;
    border: 1px dashed #DD1D16;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    white-space: normal;
    line-height: 1.6;
    vertical-align: top;
    text-align: center;
    box-shadow: 0 0px 5px 0 #555;
  }

  .iteam:hover {
    box-shadow: 0 0px 5px 0 #555;
    -ms-transform: scale(1.06);
    /* IE 9 */
    -webkit-transform: scale(1.06);
    /* Safari 3-8 */
    transform: scale(1.06);
  }

  .video-container1 {
    position: relative;
    overflow: hidden;
  }

  .video-container2 {
    position: relative;
    padding-bottom: 70%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
  }

  .video-container2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    margin-left: 15%;
  }

  .card {
    border: 1px solid #dd1d16;
  }

  .text-dark {
    font-size: 16px;
  }

  .text-white {
    font-size: 14px;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
    text-decoration-color: #dd1d16;
  }

  .readmore {
    color: white;
    background-color: #161616;
    font-size: 12px;
    padding: 5px 10px;
    margin-left: 2px;
    display: inline-block;
  }

  .readmore:hover {
    text-decoration: underline;
    opacity: 0.9;
    text-decoration-color: #dd1d16;
    color: white;
  }

  #miv {
    display: none;
    text-align: center;
  }

  #btnread {
    border: none;
    background-color: #dd1d16;
    text-align: center;
    width: 98%;
    border-radius: 4px;
    font-size: 16px;
  }

  #btnread:hover {
    opacity: 0.8;
  }

  h5 {
    color: #58BB48;
  }

  #openMI {
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    width: 150px;
    padding: 10px;
  }

  #openMI:hover {
    opacity: 1;
  }

  .cardImg {
    width: 100%;
    max-width: 700px;
    height: 375px;
    object-fit:fill;
  }

  .card {
    width: 100%;
    max-width: 700px;
  }

  #imie {
    border: none;
    padding: 6px 20px;
    border-radius: 4px;
  }

 
  #loader1,
  #loader_v,
  #loader_n,
  #loader_g {
    display: inline-block;
    visibility: hidden;
    width:40px;
    height:40px;
  }
  #loader{
    margin-top:20px;
    display: none;
    width:100px;
    height:100px;
  }
  input {
    margin-bottom: 20px;
  }

  input:valid {
    color: red;
  }

  input:invalid {
    background-color: #e6e6e6;
  }

  .input_fields_wrap,
  #gif_edit,
  #quote_edit,
  .vid_wrap {
    border: 1px solid #dd1d16;
    padding: 20px;
    max-width: 600px;
    width: 100%;
  }
  .input_fields_wrap{
    max-height:500px;
    overflow-y: scroll;
  }

/* width */
.input_fields_wrap::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #383737;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a2a2;
}


  .btneb {
    border: none;
    padding: 6px 55px;
    border-radius: 4px;
    background-color: #dd1d16;
    color: white;
    margin-top:10px;
  }

  .form-control:focus {
    box-shadow: none;
    border: 1px solid grey;
  }

  .contentN1,
  .contentN2 {
    background-image: linear-gradient(to bottom right, #dd1d16, white);
    padding: 10px;
    border-radius: 4px;
  }

  #date {
    text-align: center;
    color: #424341;
    font-size: 12px;
    font-family: verdana, sans-sarif;
  }

  #clock {
    text-align: center;
    color: #424341;
    font-size: 21px;
    font-family: verdana, sans-sarif;
  }

  .topImg {
    width: 100%;
    border-radius: 10px;
    max-width: 300px;
    pointer-events:none;
  }

  .slide-placeholder {
    background: #161616;
    position: relative;
  }

  .slide-placeholder:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: #f0f0f0;
  }

  .slides {
    list-style: none;
  }

  .slide {
    background-color: #161616;
  }

  p {
    margin: 10px;
    color: white;
  }

  .content {
    display: none;
  }

  .collapsible {
    background-color: #404040;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 600px;
    border: none;
    text-align: left;
    outline: none;
  }

  .collapsible.active,
  .collapsible:hover {
    background-color: #dd1d16;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }

  button:hover {
    opacity: 0.8;
  }

  footer a {
    color: #ffd703;
  }

  footer a:hover {
    color: #ffd703;
    text-decoration: underline;
  }

  footer {
    font-family: 'Shadows Into Light', sans-sarif;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
textarea{
    margin-bottom: 10px;
}

#notifycharlimit{
  top:0px;
  left:0px;
  width:100%;
  position:fixed;
  color:#242424;
  background-color: #fad947;
  padding:20px;
  text-align: center;
  display: none;
}
#falsebacksigup{
  top:0px;
 left:0px;
width:100%;
height:100%;
position: fixed;
background-color: black;
opacity: 0.96;
z-index:10000;
display: none;}
#sigup{cursor: pointer;
  color:#ecde14;
  width:70%;
  max-width:300px;
  background-color: #4e4e4e;
  font-size: 18px;
  border-radius: 40px;
  bottom:20px;
  padding:10px;
  font-weight: 100;
  
}
#sigup:hover{
-webkit-transform: scale(1.02);
transform: scale(1.02);
opacity: 0.9;}
#sigcontainer{
background-color: transparent !important;
top:28%;
width: 100%;
position: fixed;
z-index:10000;
display:none;
}
#iamin{
  padding:4px;
}
.elitepassnt{
  font-size: 14px;
}
#crelitepass{
  bottom:50px;
  left:20px;
  position:fixed;
  padding:10px;
  background-color: #e6e6e6;
  display: block;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  z-index:100;
}
#crelitepass:hover{
  background-color: #9b8009;
  color:white;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);

}

#crelitebrd{
  display: block;
  position: fixed;
  bottom:70px;
  left:20px;
  width:96%;
  max-width:400px;
  padding:10px;
  background-color: #8f8f8b;
  border-radius: 10px;
  display: none;
  z-index:99;
}
#creltfrm input{
  font-size: 14px;
}
#creltfrm label{
  color:#000000b9;
}
.creltin{
  display: inline-block;
  max-width: 90px;
}

#id03 button{
  display:inline-block;
}
#adminmoto input{
  color:#4e4e4e;
}
#adminmoto{
  width:100%;
  max-width:360px;
  bottom:45px;
  right:4px;
  position:fixed;
  z-index: 10;
  border-radius: 5px;
  background-color: #161616;
  border:1px solid #dbbb04f5;
  padding:6px;
}

#coneditmotto{
  height:240px;
  overflow-y: auto;
  text-align: left;
  padding:6px;
  background-color: #161616;
  color:#d6d6d6;
  border-radius: 5px;
  font-size:14px;
}
#coneditmotto p{
  height: 100px;
  color:#4d4b4b;
}
#mmottocontent{
  display: none;
  background-color: #d6d6d6;
  padding:6px;
  margin-bottom: 6px;
  border-radius: 5px;
}

#adminmoto button{
  width: 100%;
}

#coneditmotto:focus{outline:none;}
#mottoconimg{
  width:100%;
  text-align: left;
  padding-bottom:20px;
  display: inline-block;
}
#mottoconimg svg{
background-color: #e6e6e6;
padding:4px;
border-radius: 50%;
display: inline-block;
}
#mottoconimg img{
  background-color: #e6e6e6;
  padding:4px;
  border-radius: 50%;
  width:50px;
  height:50px;
  display: inline-block;
  }
#mottothumb{
  width:60%;
  float:right;
}

 
#obdmmottoform input{
  font-size: 14px;
}
#obdmmottoform {
  height: 500px;
  overflow-y: auto;
}

#updateobdm{
  width:100%;
  right:0px;
  top:0px;
  height: 520px;
  border-radius: 5px;
  background-color: #131313da;
  position: absolute;
  display: none;
}

#updateobdm button{
  margin-top:240px;
}

.ckdsd{
  display:none;
  top:0px;
  position: static;
  margin-bottom:60px;
}
#elpasinfo{
  top:10px;
  right:20px;
  position: fixed;
  width:96%;
  max-width:300px;
  padding:10px;
  background-color: #df3737;
  display: none;
  z-index:100;
}


#elpasscreated p{
  font-size: 16px;
  color:white;
  line-height: 30px;
}

#elpasscreated button{
  font-size: 14px;
  margin-left:4px;
}

.washare{
  font-size:14px; 
  text-decoration:none;
  color:#008000;
  background:#e6e6e6;
  padding:4px 10px;
  border-radius:4px;
}
.smsshare{
  font-size:14px;
  margin-top:10px; 
  text-decoration:none;
  color:#0c29cd;
  background:#e6e6e6;
  padding:4px 10px;
  border-radius:4px;
}

a.ApShare:focus,
#btncopy:focus,
a.ApShare:hover,
#btncopy:hover {
  outline: none;
  -moz-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04) ; 
        transform: scale(1.04);
  
}

.ApShare {
  margin-left: 6px;
}
.mailshare{
  font-size:14px;
  margin-top:10px; 
  margin-left:6px;
  text-decoration:none;
  color:#0c29cd;
  background:#e6e6e6;
  padding:4px 10px;
  border-radius:4px;
}

.noobdm{
  margin-top:20px;
  color: #696868;
  font-size: 40px;
  line-height: 40px;
}
.noobdmimg{
  max-width:280px;border-radius:4px;
  width:70%;
}


#motoinfoicon{
  bottom:50px;
  right:20px;
  position: fixed;
  z-index: 100;
color:#f0b916;
}

#motoinfoicon svg{
  padding:2px;
  height:60px;
  width:60px;
  cursor: pointer;
  background: #7d7d7e;
  border-radius: 50%;

}
#motoinfoicon svg:hover{
-webkit-transform: scale(1.06);
transform: scale(1.06);
}
#mottoconhold{
  width: 100%;
  height:100%;
  top:0px;
  position: fixed;
  background-color: #000000b6;
  z-index: 10;
  display: none;
}
#motoinfo{
  z-index: 200;
  margin:10px; 
  bottom:120px;
  right:0px;
  position: fixed;
  max-width: 360px;
  min-height:100px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #dbbb04f5;
  display: none;
  border-radius: 10px;
  padding:4px;
  text-align: left;
  color:#d8ddd8;
  background-image: url('../image/loader-log.gif');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;

}

#motoincon{
background: #e4e4e1d2;
padding:10px;
display: none;
border-radius: 10px;
display:none;
}
.motocondone{
max-height:140px;
overflow-y: auto;
  overflow-x: hidden;
}
.motocondtwo{
  padding:10px;
  background-color: #161616;
  color:#d6d6d6;
  max-height:300px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 4px;
}

#coneditmotto::-webkit-scrollbar {
  width: 6px;border-radius: 4px;
}

   /* Track */
   #coneditmotto ::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  /* Handle */
  #coneditmotto::-webkit-scrollbar-thumb {
    background: #9e9d9df3;
    border-radius: 4px;
  }

  /* Handle on hover */
  #coneditmotto::-webkit-scrollbar-thumb:hover {
    background: #3d3c3c;
    border-radius: 4px;
  }
  #adminmoto::-webkit-scrollbar {
    width: 6px;border-radius: 4px;
  }
  
     /* Track */
     #adminmoto ::-webkit-scrollbar-track {
      border-radius: 4px;
    }
  
    /* Handle */
    #adminmoto::-webkit-scrollbar-thumb {
      background: #9e9d9df3;
      border-radius: 4px;
    }
  
    /* Handle on hover */
    #adminmoto::-webkit-scrollbar-thumb:hover {
      background: #3d3c3c;
      border-radius: 4px;
    }
.mottoconimg{
  padding:3px;
width:100%;
max-width:80px;
width:80px;
height:80px;
border-radius: 80%;
background-color: #807e7e;
}
.motocontit{
  max-height:100px;
  overflow-y:auto;
  max-width:240px;
float:right;
font-size: 14px;
font-weight:400;
color: #161616;
}

#mottoupdatd{
  padding:10px 60px;
  bottom:120px;
  right:70px;
  position: fixed;
  z-index: 400;
  border:1px solid #ffffff;
  background-color: #5e5d5d;
  color:#faf9ff;
  border-radius: 5px;
  display: none;
}
