
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;min-height: 100vh;
    overscroll-behavior-x: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.animbody {
  background: linear-gradient(10deg,#e6e6e6,#ffa500,purple,black);
  background-size: 150% 150%;
  animation: gradient_b 15s ease infinite;
}

@keyframes gradient_b {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}




.animback {
    background: linear-gradient(-75deg, blue, #dd1d16, #ffd703);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  .animback div{
    padding-top:10px;
    padding-bottom:10px;
}
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .animcon {
    background: linear-gradient(-75deg, blue,#08cf08);
    background-size: 200% 200%;
    animation: gradient2 15s ease infinite;   z-index:2;
  }

  @keyframes gradient2 {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }



form {
    max-width: 600px;
    margin: 10px auto;
    padding: 16px;
}

form h1 {
    padding: 5px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #111;
    margin: -16px -16px 16px -16px;
}

form input[type="text"],
form input[type="password"] {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555; border-radius: 10px;
    font-size: 16px;
}

form input[type="text"]:focus {
    box-shadow: 0 0 5px #f0db4f;
    padding: 3%;
    border: 1px solid #f0db4f;
}

form input[type="submit"],
form input[type="button"] {
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #dd1d16;
    border-radius: 10px;
    border: none;
    color: #fff; 
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #555;;
}

form input[type="submit"]:active,
form input[type="button"]:active {
   -webkit-transform: scale(0.98);
   transform: scale(0.98);
}

form input.success {
    border-color: #c3e6cb
}

form input.error {
    border-color: #e74c3c
}

form small {
    color: #ffffff;
    margin-bottom: 2%;
    visibility: visible;
}

#chngcap:active,#chngcap:focus{outline:none;}

form input[type="email"] {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 2%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555; border-radius: 10px;
  font-size: 16px;
}

form input[type="email"]:focus {
  box-shadow: 0 0 5px #f0db4f;
  padding: 3%;
  border: 1px solid #f0db4f;
}

#notifyver{bottom:100px;
  right:40px;
  position:fixed;
  display: none;
  background-color: #e6e6e6;
  max-width:400px;
  border-radius: 4px;
padding:10px;
z-index: 999;
}

#seclog{
  bottom:100px;
  right:40px;
  position:fixed;
  display: none;
  background-color: #e6e6e6;
  max-width:400px;
  border-radius: 4px;
padding:10px;
z-index: 999;
}

#loader_e{
  width:100%;
  height:100%;
  z-index:400;
  display:none;
  background-color: black;
  top:0;left:0;
  position: fixed;
  opacity:0.4;
}
#loader_e img{
  left:46%;top:40%;
  position: absolute;
  z-index: 401;}

  #loader{
    width:100%;
    height:100%;
    z-index:300;
    display:none;
    background-color: black;
    top:0;left:0;
    position: fixed;
    opacity:0.86;
  }
  #loader img{
   /* left:48%;top:40%;
    position: absolute;*/
    margin-top:300px;
    background-color: transparent;
    width:50px;
    border-radius:6px;
    z-index: 301;}
#promodiv{
  transition: 0.5s;
  display:block;
  z-index:4;
  background-color:black;
  width:100%;
  height:100%;
  background-color: black;
  opacity: 0.96;
  top:0px;
  left:0px;
  position:fixed;
}
    #promodiv_l{
      bottom:60px;
      right:20px;
      position:absolute;
      background-color: #631e9c;
      padding:10px;
      border-radius: 10px;
      cursor: pointer;
      color:white;
    }

    #promodiv_l:hover{
-webkit-transform: scale(1.04);
transform: scale(1.04);

    }

    .guestbtn {
      border:none;
      display:block;
      text-align: center;
      margin-top:10px;
      margin-bottom:10px;
      float:right;
      padding:4px 10px;
      background-color: white;
      border-radius: 6px;
    }
    .guestbtn svg{
      margin-bottom:-4px;}

      #frelite {
        margin-top: 20px;
      }
  
      #passcontain {
        max-width: 240px;
      }
  
      #frelite input {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        background-color: #f7e05f;
        font-weight: 400;
      }
      #txtCaptcha{
        cursor:none;
        text-align: center; 
        border: none; 
        font-weight: bold; 
        font-size: 18px;
         font-family: 'Kaushan Script', cursive; 
        background-color:#e6e6e6;width:80%;
      }

      #premiumpromo{
        color:#e6e6e6;
        width:100%;
        padding:20px;
        left:0;
        margin-top:20px;
        position: inherit;
        display: inline-block;
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
      }
      .bizinface{
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        position: absolute;
      }
      .bizfacecon{
      color:white;
      padding-top:140px;
      padding-left:40px;
      padding-bottom:40px;
      text-align: right; 
      width:100%;
      max-width:600px;
      display: inline-block;
      }
      .bizfacecon-tw{
        margin:10px;
        margin-top:80px; 
        max-width:600px;
        float:right;
      }

      
#container {
  background-image:linear-gradient(-45deg, #fa3c3c,#b1ce10); 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px; 
  box-shadow: 0 2px 8px 1px #727272;
}
.bizfacecon h1{
  text-align:right;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color:#cfcfcf7e;
  padding-right: 10px;
}

.bizfacecon h4{
  margin-top:20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  padding-right: 10px;
}
.sptttds{
  font-size: 60px;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 900px) {
 
  .bizfacecon h1{
    font-size: 35px;
  }
  .sptttds{
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
 
  .bizfacecon h1{
    font-size: 35px;
  }
  .sptttds{
    font-size: 50px;
  }
}