 /* width */
 ::-webkit-scrollbar {
    height: 10px;
    width: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #161616;
    border-radius: 0px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
   background-color:#424141;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color:rgb(161, 161, 161);
  }
  .animback {
    background: linear-gradient(-75deg, blue, #dd1d16, #ffd703);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow:0 2px 4px 1px gray;border-bottom: 1px solid white;height:80px;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .widimg:hover {
    -webkit-transform: scale(1.06);transform: scale(1.06);
  }

  #imgcon{
    top: 20px;
    left: 20px;
    position: fixed;
    z-index: 2; display:none;
  }
  .mwimg{
    width: 80px;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0px #f10606;
    opacity: 1; 
    pointer-events: none;
  }

  #otherEx {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 0;
    padding-top: 100px;
    width: 100%; display:none;
  }

  header {
    z-index: 1;
  }
  .hm{
    width:100%;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    background-color: #816f07;
    padding:4px 10px;
    font-size: 14px;
    cursor: pointer;
    bottom:60px;
    left:0px;
    position: fixed;
  }
 .hm:hover{
  background-color: #534805;
 }
 .dogeuri{
     min-width:300px;
     font-size:12px;
     border:none;
     background-color:transparent;
     color:#fadf42;
     padding-top:4px;
     text-decoration: underline;
     }
 .dogeuri:active,.dogeuri:focus{
     outline:none;
     }
 #info{
  color: white;
  padding:10px;
  display:none;
  text-align:left;
  width:76%;
  max-width:350px;bottom:60px;
  background-color: transparent;
  right:90px;
  z-index:2;position:fixed;}
  #spons{
      padding:20px;
      position:fixed;
      top:120px;
      min-height:400px;
      background-color:black;
      width:100%;
      color:#f1a10b;
      overflow-y:scroll;
      display:none;
     }
 #spons .column{
     margin:4px;
     background-color: #464343;
     display: inline-block;
     max-width:620px; min-height:70px;
     cursor:pointer;
     border-radius: 10px;
     }
 #spons .column:hover{
  background-color: #292727;

 }

 #backspon{
  background-color: black;
  width:100%;
  height:800px;
  top:0px;
  position: fixed;
  display:none;
 }
 #closespon{
  font-size:16px;
  padding:2px 10px;
  cursor: pointer;
  border:none;
 background-color:#464343;
 }
 #closespon:hover{
   background-color: #292727;
   }
   #ongame {
      width: 100%;
      height: 100%;
      border: none;
    }
    #ogframe{
      top:0px;
      left:0px;
      position:fixed;
      width:100%;
      height: 100%;
      z-index: 1;
      background-color:black;
    }
    .backh {
      text-align: right;
      bottom: 6px;
      right: 10px;
      position: fixed;
      font-family: Arial, Helvetica, sans-serif; z-index: 1;
    }
    .backh a{color:blue;}
    .gtitle{  margin-right:10px;margin-top:10px;}
    .gtitle a{
      color:#DD1D16;
      background-color:#dbdbdb; 
      padding:6px 20px;
      font-size: 16px;
      margin-top:10px;border:1px solid #dd1d16;
      display: inline-block;
      }
      .gtitle a:hover{
      color:#DD1D16;
      background-color:white; 
      border:1px solid #dd1d16;
      transition: 0.3s;
      }
      #radiomwf{
        top:120px;
        right:0px;
        position:fixed;
        width:30px;
        background-color: black;
        color:white;
        padding:8px;
        cursor:pointer;
        }
        #radiomwf p{
          line-height: 4px;
         font-family: Arial, Helvetica, sans-serif;
         padding-right:4px;
         }
         #radiomwf:hover{
           background-color: #272525;
          }
         .bi-broadcast-pin{padding-top:4px;}
        #frameradio{
          bottom:68px;
          left:0px;
          z-index:0;
          width:90%;
          max-width: 580px;
          position: fixed;
          height:72%;
          display: none;
          background-color: black;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          background-image: url('https://cdn.dribbble.com/users/148670/screenshots/5252136/dots.gif');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          box-shadow: 0 0px 4px 0 #120172;
          }
          #frameradio iframe{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            }
           #spclose{
            padding-top:6px;
            padding-left: 4px;
            padding-right: 4px;
            top:70px;
            right:16px;
            position: absolute;
            cursor: pointer;
            background-color: #dbdbdb;
           }
           #spright,#spleft{ 
             padding-top:6px;
            padding-left: 4px;
            padding-right: 4px;
            top:106px;
            right:16px;
            position: absolute;
            cursor: pointer;
            background-color: #dbdbdb;
           }
           #spleft{
            display: none;
           }
            #spclose svg:hover,
            #spright svg:hover,
            #spleft svg:hover{
              background-color:#120172;
              color:white;
              border-radius:50%;
              border:0px;padding:1px;}

#audioP,#audioG{
    display: none;
}

#fdbackhm{
  bottom:60px;
  right:10px;
  position: fixed;
  font-size: 14px;
  background-color: #DD1D16;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding:6px 10px;
  display: none;
}
#fdbackhm a{

  color: khaki;
}

#fdbackhm a:hover{
text-decoration: underline;
}

#bizprost{
bottom:20px;
right:0px;
position: fixed;
min-width:0px;
max-width:400px;
padding:10px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
background-color: #887b07;
display:block;
}

.bizusrp{
  color:white;
  font-family: 'Courier New', Courier, monospace;
  font-size:16px;
}
#mySidenav{
  border-bottom: 4px solid #e93b35e0;
}